@model HotelRoomBookingSystem.Models.ClientsInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client | Details</h2>

<div>
    <div>
        @Html.ActionLink("Back to Client Manage", "Index")
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientIcPassport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIcPassport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })    
</p>

